<a href="https://colab.research.google.com/github/satyaki726/PySparkBasics/blob/master/Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Installation Of PySpark Library**

In [ ]:
!pip install pyspark py4j

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317145 sha256=a16518ef68bed3ff395cf27b0ae8360c1a535655117b68da7b001e3b026ee9d6
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [ ]:
df = spark.read.json('/content/sample_data/person.json')

In [ ]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|  Arnab|
|  23|Satyaki|
|  23|   Rima|
+----+-------+

In [ ]:
df.printSchema() #method

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
df.columns #attribute

['age', 'name']

In [ ]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [ ]:
df.describe().show()

+-------+----+-------+
|summary| age|   name|
+-------+----+-------+
|  count|   2|      3|
|   mean|23.0|   null|
| stddev| 0.0|   null|
|    min|  23|  Arnab|
|    max|  23|Satyaki|
+-------+----+-------+

**How to Change Datatype Of A Field In Schema**

In [ ]:
from pyspark.sql.types import (
    StructField,StringType,
    IntegerType,StructType
)

In [ ]:
data_schema = [StructField('age',IntegerType(),True),
               StructField('name',StringType(),True)]

In [ ]:
final_struc = StructType(fields=data_schema)

In [ ]:
df = spark.read.json('/content/sample_data/person.json',schema=final_struc)

In [ ]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
type(df['age'])

pyspark.sql.column.Column

In [ ]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [ ]:
type(df['age'])

pyspark.sql.column.Column

In [ ]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [ ]:
df.select('age').show()
df.select('name').show()

+----+
| age|
+----+
|null|
|  23|
|  23|
+----+

+-------+
|   name|
+-------+
|  Arnab|
|Satyaki|
|   Rima|
+-------+

In [ ]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|  Arnab|
|  23|Satyaki|
|  23|   Rima|
+----+-------+

Added a new Column

In [ ]:
df.withColumn('double_age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|  Arnab|      null|
|  23|Satyaki|        46|
|  23|   Rima|        46|
+----+-------+----------+

Rename A Column

In [ ]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|  Arnab|
|        23|Satyaki|
|        23|   Rima|
+----------+-------+

Creating a SQL View

In [ ]:
df.createOrReplaceTempView('people')

In [ ]:
results = spark.sql("Select * From people")

In [ ]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|  Arnab|
|  23|Satyaki|
|  23|   Rima|
+----+-------+